body{
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;

}

#todoApp{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #e8e8e8
}

#appAction{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background: #838383}

/*#toggle-all:before {
	content: '»';
	display: inline-block;
}*/

#chevron{
  /*content: '»';*/
  height: 40px;
  width: 60px;
  display: inline-block;
  background-color: white;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  padding: 10px 0px 5px 0px;
  border-bottom: dotted;
  border-bottom-width: 1px; 
  border-right:  double #E80000;
}

#whatTodo{
	display: inline-block;
	height: 40px;
	width: 400px;
}


#whatTodo input {
    //float:left;
    width: 400px;
    height: 40px;
    text-align: left;
    font-size: 20pt;
    line-height: 56px;
    padding: 10px 0px 5px 0px;
    border-bottom: dotted;
    border-bottom-width: 1px; 
    border-left-style: double #E80000;
}


li{
	list-style-type: none;
}

.checkbox{
	height: 40px;
	width: 60px;
	display: inline-block;
	background-color: white;
    line-height: 56px;
    padding: 0px 20px 0px 0px;
    border-bottom: dotted;
    border-bottom-width: 1px; 
    border-right:  double #E80000;
}	

.todoItem{
	height: 40px;
	width: 400px;
	display: inline-block;
	background-color: white;
    line-height: 56px;
    padding: 0px 0px 0px 20px;
    border-bottom: dotted;
    border-bottom-width: 1px; 
    border-left-style: double #E80000;
}

h1{
	font-size: 70px;
	font-weight: bold;
	color: #484848;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}


