body{
	font-family: Helvetica, Arial, sans-serif;

}

#todoApp{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #e8e8e8
}

#appAction{
	width: 600px;
	margin: 0 auto;
	background: #838383}

/*#toggle-all:before {
	content: '»';
	display: inline-block;
}*/



li{
	list-style-type: none;
}

.checkbox{
	display: inline-block;
	background-color: white;
    line-height: 56px;
    padding: 0 24px;
       
}

.todoItem{
	display: inline-block;
	background-color: white;
    line-height: 56px;
    padding: 0 24px;
}

h1{
	font-size: 70px;
	font-weight: bold;
	color: #484848;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}

#chevron{
  /*content: '»';*/
  display: inline-block;
  background-color: white;
  font-size: large;
}

#whatTodo{
	display: inline-block;
}
